.main-banner {
    margin-left: 102px;
    position: relative;
}

.banner-image {
    max-width: 100vw;
    overflow: hidden;
}

.banner-image img {
    width: 100%;
    height: 850px;
    object-fit: cover;
    background-position: center;
    transition: all .4s ease-in-out;
}

.banner-image img:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.main-banner__content {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.main-banner__content h1 {
    margin: 0;
    margin-bottom: 10px;
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    line-height: normal;
}

.main-banner__content p {
    font-size: 22px;
    color: #fff;
    margin: 0;
    color: #fff;
}

.main-banner__content a {
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    font-size: 1.125rem;
    padding: 14px 75px;
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    transition: all 0.2s ease-in-out;
    font-weight: 700;
    background-color: #af4031;
    color: #fff;
    margin-top: 14px;
}

.main-banner__content a:hover {
    background-color: #fff;
}

@media only screen and (max-width: 992px) {
    .main-banner {
        margin-left: 0;
        position: relative;
        text-align: center;
    }

    .main-banner__content h1 {
        padding: 0 1rem;
    }
}