.content-three {
    margin-left: 102px;
    position: relative;
}

.content-three__image {
    max-width: 100vw;
    overflow: hidden;
}

.content-three__image img {
    width: 100%;
    height: 410px;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.content-three__image img:hover {
    transform: scale(1.1);
}

.content-three__content {
    max-width: 650px;
    position: absolute;
    top: -15px;
    background-color: #af4031;
    clip-path: polygon(0% 0%, 100% 0%, 60% 100%, 0% 100%);
    height: calc(100% + 11px);
}

.text {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding-left: 2rem;
    color: #fff;
    padding-right: 10rem;
}

.text h2 {
    font-size: 2rem;
    color: #fff;
    font-weight: 400;
}

.text li {
    margin: 0;
    padding-left: 0 !important;
    padding-right: 1rem;
}


.text a {
    text-decoration: none;
    text-transform: uppercase;
    color: #1D1B1E;
    transition: all 0.3s ease-in-out;
}

.text a:hover {
    letter-spacing: 2px;
}

.content-three .inline li {
    display: block !important;
}

/* CONTENT THREE FULL CSS */

.contentthree-full {
    margin-left: 102px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.contentthree-full__image {
    max-width: 1090px;
    margin: auto;
    overflow: hidden;
}

.contentthree-full__image img {
    width: 100%;
    object-fit: cover;
    transition: all .4s ease-in-out;
}

.contentthree-full__image img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.contentthree-full__content {
    max-width: 1090px;
    margin: auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contentthree-full__comment {
    max-width: 1090px;
    margin: auto;
    margin-top: 3rem;
}

.contentthree-full__comment form {
    background-color: #f0f0f0;
    padding: 24px;
}

.contentthree-full__comment form input[type="submit"] {
    background-color: unset;
    border-color: unset;
    border-style: unset;
    background-color: #cbff83;
    border-color: #cbff83;
    color: #1D1B1E;
    padding: 10px 16px;
    border-radius: 5px;
}

.contentthree-full__comment form #edit-preview {
    float: right;
    margin: 0 !important;
}

.contentthree-full__comment form #edit-subject-0-value {
    width: 100%;
}

@media (max-width: 991.98px) {
    .content-three {
        margin-left: unset;
        padding: 0 1rem;
        margin-top: 2rem;
    }
/* 
    .content-three__content {
        background-color: unset;
        clip-path: unset;
        width: unset;
        text-align: center;

    }

    .text {
        padding: unset;
        max-width: 850px;
        padding: 0 1rem;
    }

    .content-three .inline li {
        display: inline !important;
        text-align: center;
        margin: auto;
        margin-bottom: 2rem;
    }

    .content-three .node__links {
        margin-left: auto;
        margin-right: auto;
    }

    .content-three .inline li a {
        color: #000;
        font-weight: 700;
    } */

    .contentthree-full__comment form #edit-subject-0-value {
        width: 100%;
    }



}