.main-footer {
    margin-left: 102px;
    background-color: #af4031;
    margin-top: -20px;
    padding: 30px;
}

.main-footer--content {
    display: flex;
    justify-content: space-around;
}

.footer-menu {
    margin: 0;
    padding: 0;
}

.footer-menu li {
    list-style-type: none;
    margin-bottom: 25px;
}

.footer-menu li a {
    text-decoration: underline;
    color: #fff !important;
    font-size: 1.375rem;
    transition: all 0.3s ease-in-out;
}

.footer-menu li a:hover {
    letter-spacing: 2px;
    text-decoration: none;
}

.footer-second {
    margin: 0;
    padding: 0;
}

.footer-second li {
    list-style-type: none;
    margin-bottom: 25px;
}

.footer-second li a {
    text-decoration: underline;
    color: #fff !important;
    font-size: 1.375rem;
    transition: all 0.3s ease-in-out;
}

.footer-second li a:hover {
    letter-spacing: 2px;
    text-decoration: none;
}

.footer-small {
    background-color: #af4031;
    margin-left: 102px;
    text-align: center;
    padding-bottom: 1rem;
}

.footer-small small a{
    text-decoration: none;
    color: #fff;
}

/* COMMENT CSS */

.generation-comment {
    max-width: 600px;
    margin-bottom: 3rem;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 2rem;
}

.generation-comment h3 {
    margin: 0;
    font-size: 2rem;
    color: #1D1D1B;
    font-weight: 500;
}

.generation-comment h3 a {
    text-decoration: none;
    font-size: 2rem;
    color: #1D1D1B;
    font-weight: 500;
}

.generation-comment p {
    color: #1D1D1B;
    line-height: 1.5;
}

.comment-links {
    margin-top: 10px;
}

.comment-links li {
    margin: 0;
    padding-left: 0 !important;
}

.comment-links li a {
    text-decoration: none;
    color: #fff;
    background-color: #1D1D1B;
    padding: 7px;
    border-radius: 5px;
    transition: all .4s ease-in-out;
}

.comment-count {
    max-width: 1090px;
    margin: auto;
    margin-top: 3rem;
    display: flex;
    justify-content: flex-start;

}

.comment-count h1 {
    margin: 0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.125rem;
    background-color: #ff9283;
    padding: 14px 75px;
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
}

@media (max-width: 991.98px) {
    .main-footer {
        margin-left: unset;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .main-footer--content {
        display: block;
        text-align: center;
    }

    .footer-menu {
        text-align: center !important;
    }

    .footer-second {
        text-align: center !important;
    }

    .footer-small {
        margin-left: unset;
        margin-left: 1rem;
        margin-right: 1rem;
        padding-top: 1rem;
        text-align: center;
        background-color: #af4031;
    }
}

/* .login-form {
    max-width: 1090px;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
} */

#user-login-form {
    max-width: 1090px;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#comment-form {
    max-width: 1090px;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}