.generation-feature {
    margin-left: 102px;
    display: flex;
    gap: 5.5rem;
    align-items: center;
    margin-top: 65px;
    margin-bottom: 2rem;
}

.generation-feature__content {
    max-width: 590px;
    position: relative;
    padding-left: 1rem;
}

.generation-feature__content p strong {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.7;
}

.generation-feature__content li {
    margin: 0;
    padding-left: 0 !important;
    padding-right: 25px !important;
}

.generation-feature__content a {
    text-decoration: none;
    text-transform: uppercase;
    color: #111;
    transition: all 0.3s ease-in-out;
}

.generation-feature__content a:hover {
    letter-spacing: 2px;
}

@media only screen and (max-width: 992px) {
    .generation-feature {
        margin-left: 0;
        display: block;
        margin: auto;
    }

    .generation-feature__image {
        margin: auto;
    }

    .generation-feature__content {
        margin: auto;
        padding: 0 1rem;
    }
}

.generation-feature__image {
    max-width: 600px;
    overflow: hidden;
}

.generation-feature__image img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.generation-feature__image img:hover {
    transform: scale(1.1);
}


/* CONTENT TWO FULL */

.contenttwo {
    margin-left: 102px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.contenttwo h1 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 2rem;
}

.contenttwo-full {
    display: flex;
    gap: 5.125rem;
    align-items: center;
    padding: 0 1rem;
}

.contenttwo-full__image {
    width: 600px;
    overflow: hidden;
}

.contenttwo-full__image img {
    width: 100%;
    transition: all .4s ease-in-out;
}

.contenttwo-full__image img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.contenttwo-full__content {
    max-width: 600px;
}

.contenttwo-full__content p {
    font-size: 1.125rem;
    font-weight: 400;
}

@media (max-width: 991.98px) {
    .generation-feature__image {
        max-width: unset;
        padding: 0 1rem;
    }

    .generation-feature__content {
        max-width: unset;
        margin-top: 2rem;
    }

    .generation-feature {
        border-bottom: 1px solid #1d1d1b;
        padding-bottom: 2rem;
    }
}