.generation-about {
    margin-left: 102px;
    display: flex;
    gap: 5.5rem;
    align-items: center;
    margin-top: 65px;
    margin-bottom: 2rem;
}

.generation-about__image {
    max-width: 600px;
    position: relative;
}

.generation-about__image::before {
    content: "";
    position: absolute;
    top: -100px;
    width: 100%;
    height: 100px;
    background-color: #af4031;
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
}


.generation-about__image img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.generation-about__content {
    max-width: 590px;
    position: relative;
}

.generation-about__content p strong {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.7;
}

.generation-about__content li {
    margin: 0;
    padding-left: 0 !important;
    padding-right: 25px !important;
}

.generation-about__content a {
    text-decoration: none;
    text-transform: uppercase;
    color: #111;
    transition: all 0.3s ease-in-out;
}

.generation-about__content a:hover {
    letter-spacing: 2px;
}

@media only screen and (max-width: 992px) {
    .generation-about {
        margin-left: 0;
        display: block;
        margin: auto;
        padding-bottom: 2rem;
        border-bottom: 1px solid #1D1B1E;
    }

    .generation-about__image {
        margin: auto;
    }

    .generation-about__content {
        margin: auto;
        padding: 0 1rem;
    }
}


/* FOR FULL CONTENT */

.contentone-full {
    margin-left: 102px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.contentone-full__content {
    margin: auto;
    max-width: 1090px;
    margin-bottom: 3rem;
}

.contentone-full__content h1 {
    text-align: center;
    text-decoration: underline;
}

.contentone-full__image {
    margin: auto;
    overflow: hidden;
    max-width: 1090px;
}

.contentone-full__image img {
    height: 450px;
    object-fit: cover;
    transition: all .4s ease-in-out;
}

.contentone-full__image img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

@media (max-width: 991.98px) {
    .generation-about__image {
        max-width: unset;
        padding: 0 1rem;
    }

    .generation-about__content {
        max-width: unset;
    }

    .generation-feature .node__links {
        margin-bottom: 2rem;
    }

    .contentone-full {
        margin-left: unset;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .contenttwo {
        margin-left: unset !important;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .contenttwo-full {
        display: block !important;
    }

    .contenttwo-full__image {
        width: unset !important;
    }

    .contentthree-full {
        margin-left: unset !important;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .generation-about__image::before {
        width: 96%;
    }
}