*{
  font-family: 'DM Sans';
}

@media screen and (min-width: 992px) {
    .navbar {
        display: flex;
        align-items: center;
        box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.1);
        background: #fff;
        padding: 0;
        height: 100%;
        width: 100px;
        flex-direction: column;
        justify-content: center;
        justify-content: flex-start;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 2;
    }

    .navbar .hamburger-menu {
        position: relative;
        background: 0;
        padding: 0;
        margin: 0;
        border: 0;
        display: block;
        height: 28px;
        width: 40px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        transition: all 0.4s ease-in-out;
        left: 0px;
        margin-top: 30px;
        cursor: pointer;
    }

    .navbar .hamburger-menu span {
        display: block;
        height: 4px;
        width: 40px;
        background: #0e2431;
        width: 40px;
        height: 4px;
        background-color: black;
        /* -webkit-clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
        clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%); */
        will-change: transform;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: all 0.5s ease-in-out;
    }

    .navbar .social-icons {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        margin-top: auto;
        padding-bottom: 1.25rem;
    }

    .navbar .social-icons a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: #1D1D1B;
        width: 2.6875rem;
        height: 2.6875rem;
        overflow: hidden;
        border-radius: 50%;
        margin: 0 10px;
        transition: all 0.2s;
        text-decoration: none;
        color: #000;
        text-decoration: underline;
    }

    .menu-items {
        width: 485px;
        height: 100vh;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        text-align: center;
        background: #fff;
        z-index: 1;
        position: fixed;
        top: 0;
        transition: all 0.4s ease-in-out;
    }

    .menu-items ul {
        margin: 0;
        list-style-type: none;
        padding: 0;
        margin: 5.625rem 0 0;
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .menu-items ul li {
        margin-bottom: 1.2rem;
        font-size: 1.5rem;
        font-weight: 500;
    }

    .menu-items ul li a {
        text-decoration: none;
        font-weight: 700;
        transition: color 0.2s;
        color: #000;
    }

    .menu-items small {
        margin-bottom: 2.75rem;
        flex: 0;
        color: #595f66;
        font-size: 1rem;
        font-size: smaller;
    }

    .menu-items small a {
        text-decoration: underline;
        color: #595f66;
    }

    .active {
        position: relative;
        background: 0;
        padding: 0;
        margin: 0;
        border: 0;
        display: block;
        height: 28px;
        width: 40px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        transition: left 0.4s ease-in-out;
        left: 0px;
        margin-top: 30px;
        cursor: pointer;
    }

    .active span:nth-child(1) {
        position: absolute;
        transform: rotate(45deg);
        top: 0;
    }

    .active span:nth-child(2) {
        display: none;
    }

    .active span:nth-child(3) {
        position: absolute;
        transform: rotate(-45deg);
        top: 0;
    }

    .menu-itemsclose {
        transform: translateX(100px);
    }

    .large {
        display: none;
    }

    .brand {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    .main-navigation {
        box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.1);
        background: #fff;
        position: fixed;
        width: 100%;
        z-index: 300;
    }

    .brand {
        position: absolute;
        padding-left: 20px;
        float: left;
        line-height: 55px;
        text-transform: uppercase;
        font-size: 1.4em;
        margin-top: 7px;
    }

    .brand a,
    .brand a:visited {
        color: #1D1D1B;
        text-decoration: none;
    }

    .nav-mobile {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        background: transparent;
        height: 55px;
        width: 70px;
        margin-top: 7px;
    }

    .nav-mobile {
        display: block;
    }

    .nav {
        width: 100%;
        padding: 55px 0 15px;
    }

    .nav ul {
        display: none;
    }

    .nav ul li {
        float: none;
    }

    .nav ul li a {
        padding: 15px;
        line-height: 20px;
        background: #fff;
        display: block;
        text-decoration: none;
        text-align: center;
        color: #000 !important;
    }

    .small {
        display: none;
    }

    .large {
        padding: 15px;
        line-height: 20px;
        background-color: #fff;
        display: block;
        text-decoration: none;
        text-align: center;
        color: #1D1D1B;
    }

    .social-icons {
        display: none;
    }

    .nav-list {
        background-color: #fff;
        margin: 0 !important;
    }

    .navbar-dropdown {
        position: static;
    }
}

@media only screen and (max-width: 992px) and (min-width: 992px) {
    .nav-list {
        display: block !important;
    }
}

#navbar-toggle {
    position: absolute;
    left: 18px;
    top: 15px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}

#navbar-toggle span,
#navbar-toggle span:before,
#navbar-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 30px;
    background: #1D1D1B;
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
}

#navbar-toggle span:before {
    top: -10px;
}

#navbar-toggle span:after {
    bottom: -10px;
}

#navbar-toggle.active span {
    background-color: transparent;
}

#navbar-toggle.active span:before,
#navbar-toggle.active span:after {
    top: 0;
}

#navbar-toggle.active span:before {
    transform: rotate(45deg);
}

#navbar-toggle.active span:after {
    transform: rotate(-45deg);
}